@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.container__button button {
  background: -webkit-gradient(linear, left top, left bottom, from(#BC9CFF), to(#8BA4F9));
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border-radius: 22px;
  width: 320px;
  height: 44px;
  font-family: Montserrat;
  font-size: 12px;
  line-height: 15px;
  font-weight: bold;
  text-transform: uppercase;
  color: #FFFFFF;
}

.container__haveaccbutton button {
  margin-left: 35px;
  width: 99px;
  height: 44px;
  border: 2px solid  #BC9CFF;
  border-radius: 22px;
  background-color: #fff;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
  color: #BC9CFF;
}

body {
  padding: 40px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 646px;
  width: 380px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.12);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.container__text {
  padding: 40px 30px 0px 30px;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #1F2041;
}

.container__name {
  padding: 10px 30px 0px 30px;
}

.container__name input {
  text-indent: 15px;
  font-family: Montserrat;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.25);
  width: 320px;
  height: 44px;
  background: #FFFFFF;
  border: 1px solid rgba(31, 32, 65, 0.25);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  margin-top: 10px;
}

.container__gender {
  padding: 10px 0px 0px 30px;
}

.container__gender input {
  margin-right: 10px;
}

.container__gender input:nth-child(2n) {
  margin-left: 10px;
}

.container__birthday {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1F2041;
  padding: 19.56px 30px 0px 30px;
}

.container__birthday input {
  margin-top: 5px;
  text-indent: 7px;
  width: 320px;
  height: 44px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  text-transform: uppercase;
  font-family: Montserrat;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.25);
}

.container__user {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1F2041;
  padding: 20px 30px 0px 30px;
}

.container__user p {
  margin-bottom: 5px;
}

.container__user input {
  text-indent: 15px;
  font-family: Montserrat;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.25);
  margin-top: 5px;
  width: 320px;
  height: 44px;
  background: #FFFFFF;
  border: 1px solid rgba(31, 32, 65, 0.25);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
}

.container__offer {
  padding: 10px 30px 0px 30px;
}

.container__button {
  padding: 20px 30px 0px 30px;
}

.container__haveaccbutton {
  padding: 30px 30px 0px 30px;
}

.container__haveaccbutton a {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
}

#woman {
  padding-left: 10px;
}
/*# sourceMappingURL=style.css.map */