@import 'nullstyle.scss';



// Шаблоны для верстки

%styleButton {
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-radius: 22px;
    width: 320px;
    height: 44px;
    font-family: Montserrat;
    font-size: 12px;
    line-height: 15px;
    font-weight: bold;
    text-transform: uppercase;
    color: #FFFFFF;
}

%styleButton1 {
    margin-left: 35px;
    width: 99px;
    height: 44px;
    border: 2px solid  #BC9CFF;
    border-radius: 22px;
    background-color: #fff;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    color: #BC9CFF;
}

// __________




body {
    padding: 40px ;
}

.container {
    display: flex;
    height: 646px;
    width: 380px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    &__text {
        padding: 40px 30px 0px 30px;
        font-family: Montserrat;
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        color: #1F2041;
    }
    &__name {
        padding: 10px 30px 0px 30px;
        input {
            text-indent: 15px;
            font-family: Montserrat;
            font-size: 14px;
            line-height: 24px;
            color: rgba(31, 32, 65, 0.25);
            width: 320px;
            height: 44px;
            background: #FFFFFF;
            border: 1px solid rgba(31, 32, 65, 0.25);
            box-sizing: border-box;
            border-radius: 4px;
            margin-top: 10px;
        }
    }
    &__gender {
        padding: 10px 0px 0px 30px;
        input  {
           margin-right: 10px ;
        }
        input:nth-child(2n) {
            margin-left: 10px;
        }
    }
    &__birthday {
        font-family: Montserrat;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        color: #1F2041;
        padding: 19.56px 30px 0px 30px ;
        input {
            margin-top: 5px;
            text-indent: 7px;
            width: 320px;
            height: 44px;
            border: 1px solid rgba(31, 32, 65, 0.25);
            box-sizing: border-box;
            border-radius: 4px;
            text-transform: uppercase;
            font-family: Montserrat;
            font-size: 14px;
            line-height: 24px;
            color: rgba(31, 32, 65, 0.25);
        }
    }
    &__user {
        font-family: Montserrat;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        color: #1F2041;
        padding: 20px 30px 0px 30px;
        p {
            margin-bottom: 5px;
        }
        input {
            text-indent: 15px;
            font-family: Montserrat;
            font-size: 14px;
            line-height: 18px;
            color: rgba(31, 32, 65, 0.25);
            margin-top: 5px;
            width: 320px;
            height: 44px;
            background: #FFFFFF;
            border: 1px solid rgba(31, 32, 65, 0.25);
            box-sizing: border-box;
            border-radius: 4px;
        }
    }
    &__offer {
        padding: 10px 30px 0px 30px;
    }
    &__button {
        padding: 20px 30px 0px 30px;
        button{
        @extend %styleButton;
        } 
    }
    &__haveaccbutton {
        padding: 30px 30px 0px 30px;
        button {
            @extend %styleButton1;
        }
        a {
            font-family: Montserrat;
            font-size: 14px;
            line-height: 18px;
            color: #000000;
        }
    }
}    

#woman {
    padding-left: 10px ;
}