@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  background: #E5E5E5;
}

.container {
  width: 270px;
  height: 257px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
          box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  border-radius: 4px;
}

.text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.text__boldlux {
  text-transform: uppercase;
  color: #1F2041;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 24px;
  line-height: 17px;
  padding: 20px 0px 0px 20px;
}

.text__boldlux b {
  font-size: 14px;
}

.text__boldlux span {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: #BC9CFF;
}

.text__sum {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  font-family: Montserrat;
  padding: 24px 17px 0px 0px;
  color: rgba(31, 32, 65, 0.5);
}

.line {
  padding-top: 12px;
  margin: 0 auto;
  border-bottom: 1px solid rgba(31, 32, 65, 0.1);
  width: 230px;
  position: relative;
}

.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.rating__items {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  padding: 8px 0px 19px 20.26px;
}

.rating__item {
  color: #BC9CFF;
  font-size: 26px;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
}

.rating__item:hover, .rating__item:hover ~ .rating__item {
  content: url(./img/star.svg);
}

.rating__items[data-total-value="1"] .rating__item:nth-child(n + 5),
.rating__items[data-total-value="2"] .rating__item:nth-child(n + 4),
.rating__items[data-total-value="3"] .rating__item:nth-child(n + 3),
.rating__items[data-total-value="4"] .rating__item:nth-child(n + 2),
.rating__items[data-total-value="5"] .rating__item:nth-child(n + 1) {
  content: url(./img/star.svg);
}

.rating__reviews {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.5);
  padding: 11.56px 20px 21.44px 0px;
}
/*# sourceMappingURL=style.css.map */